body {

    main {

        h2 {
            text-align: center;
            padding: 0;
            text-align: center;
            margin-bottom: 2vh;
        }

        #news {
            max-width: 40vw;
            margin: 0 auto;
            padding: 1vh 1vw;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, .1);
            background-color: #fff;

            ul {
                li {
                    margin: 0;
                    padding: 0;
                    word-wrap: break-word;
                }
            }
        }
    }
}