header {
  background-color: #f1f1f1;
  padding-bottom: 5vh;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  float: none;
  margin: 0 5px;
}

.nav a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  color: #007bff;
  border-bottom: 2px solid #007bff;
}

main {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 20vw;
}

.table1 {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table1 th,
.table1 td {
  padding: 10px 20px;
  border: none;
  text-align: left;
}

.table1 tr {
  background-color: #fff;
  cursor: pointer;
}

.table1 tr:nth-child(even) {
  background-color: #f8f8f8;
}

.table1 th {
  font-weight: bold;
}

.table1 td {
  white-space: pre-wrap;
  overflow-wrap: break-word;
  max-width: 700px;
}

.intput1 {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.intput1 input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  flex-grow: 1;
}

.intput1 input[type="submit"] {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}


#logo a:hover {
    border: none; /* Verwijdert alle randen die mogelijk verschijnen */
}
