.form-container {
    width: 40vh;
    margin: 10vh auto;
    border-radius: 8px;
    padding: 2vh 2vw;
    background-color: #f2f2f2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .1);

    .form-title {
        text-align: center;
        margin-bottom: 2vh;
    }

    button[type=submit] {
        width: 100%;
        margin: 1vh 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 2vh 0;
        box-sizing: border-box;
        background-color: #4caf50;
        color: white;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #45a049;
        }
    }

    input {
        width: 100%;
        margin: 1vh 0;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 1.5vh 0.5vw;
        box-sizing: border-box;
    }
}