.center-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 20px;
}

.product-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 20px;
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
	min-height: 310px;
}

.product {
	background-color: #f5f5f5;
	padding-top: 0;
	padding-bottom: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	opacity: 1;
	transition: transform 0.5s ease, opacity 0.5s ease;

	&.exiting {
		transform: translateX(-100%);
		opacity: 0;
	}

	&.entering-right {
		transform: translateX(100%);
		opacity: 0;
	}

	&.entering-right-active {
		transform: translateX(0);
		opacity: 1;
		transition: transform 0.5s ease, opacity 0.5s ease;
	}

	&.entering-left {
		transform: translateX(-100%);
		opacity: 0;
	}

	&.entering-left-active {
		transform: translateX(0);
		opacity: 1;
		transition: transform 0.5s ease, opacity 0.5s ease;
	}

	img {
		width: 100%;
		height: auto;
		object-fit: cover;
		display: block;
	}
}

.product-info {
	padding-left: 10px;
	padding-right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
}

.load-more-container {
	display: flex;
	justify-content: flex-end;
	width: 80%;
	margin: 20px auto;
	position: relative;
}

#previous {
	background-color: #f5f5f5;
	padding: 10px 20px;
	cursor: pointer;
	margin-right: auto;
}

#load-more {
	background-color: #f5f5f5;
	padding: 10px 20px;
	cursor: pointer;
}

.product-link {
	display: block;
	text-decoration: none;
	color: inherit;
	width: 100%;
	height: 100%;
}

.product:hover {
	transform: scale(1.05);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

button {
	border: 2px solid #2c3e50;
	text-decoration: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;

	&:hover {
		transform: translateY(-2px);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
}